<!doctype html>
<html ng-app="ghHome">
    <head>
        <title>bergold.me - GitHub Repos</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

        <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300italic' rel='stylesheet' type='text/css' />
        <link href="icons.css" type="text/css" rel="stylesheet" media="all" />
        <link href="style.css" type="text/css" rel="stylesheet" media="all" />

        <script type="text/javascript" src="//code.angularjs.org/1.3.0-beta.5/angular.min.js"></script>
        <script type="text/javascript" src="//code.angularjs.org/1.3.0-beta.5/angular-animate.min.js"></script>
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>bergold.me</h1>
            </header>
            <div class="banner">
                <h2>Designer &amp; Developer</h2>
                <!--<div class="button">
                    contact me
                </div>-->
            </div>
            <div class="boxes" ng-controller="ReposCtrl">
                <div class="box" ng-repeat="repo in repos">
                    <div class="title">{{repo.name}}</div>
                    <div class="desc">{{repo.description}}</div>
                    <div class="foot">
                        <a ng-href="{{repo.html_url}}" ng-if="repo.html_url" class="item">
                            <span class="icon icon-github"></span>
                            GitHub Repo
                        </a>
                        <a ng-href="{{repo.homepage}}" ng-if="repo.homepage" class="item">
                            <span class="icon icon-earth"></span>
                            Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
