body {
    margin: 0 0 50px 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
}

header {
    padding: 20px;
    color: #fff;
    background: #222;
    text-align: center;
}

.banner {
    padding: 100px;
    color: #fff;
    background: #2980b9;
    background: -moz-linear-gradient(-45deg,  #2980b9 0%, #2ecc71 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2980b9), color-stop(100%,#2ecc71));
    background: -webkit-linear-gradient(-45deg,  #2980b9 0%,#2ecc71 100%);
    background: -o-linear-gradient(-45deg,  #2980b9 0%,#2ecc71 100%);
    background: -ms-linear-gradient(-45deg,  #2980b9 0%,#2ecc71 100%);
    background: linear-gradient(135deg,  #2980b9 0%,#2ecc71 100%);
    text-align: center;
}

h1, h2 {
    font-weight: 100;
}

.button {
    display: block;
    width: 250px;
    height: 42px;
    margin: 100px auto 0;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent;
    border: 1px solid #ffffff;
    transition: all 0.2s ease;
    color: #ffffff;
    line-height: 42px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
}
.button:hover {
    background: rgba(255, 255, 255, 0.2);
}
.button:active {
    background: #ffffff;
    color: #2980b9;
}

.boxes {
    margin: -45px auto 45px;
    width: 100%;
    max-width: 840px;
}

.box {
    position: relative;
    display: block;
    float: left;
    margin: 20px;
    width: 240px;
    height: 260px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.box.ng-enter {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}

.box.ng-enter.ng-enter-active {
    opacity: 1;
}

/*.box.ng-enter-stagger {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}*/

.title {
    height: 35px;
    margin-top: 65px;
    line-height: 35px;
    font-size: 25px;
    font-weight: 100;
    color: #0066cc;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.desc {
    height: 60px;
    line-height: 20px;
    padding: 20px;
    font-size: 10pt;
    color: #888;
    overflow: hidden;
}

.foot {
    height: 60px;
    background: #eee;
}

.foot a {
    display: block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 10pt;
    color: #888;
    text-decoration: none;
}

.foot a:hover {
    color: #444;
}
